{% extends "base.html.jinja2" %}

{% block title %}About — Awesome Lectures{% endblock %}

{% block content %}
<div class="container py-lg" style="max-width:600px;">
  <h1 class="text-2xl font-bold mb-lg">About</h1>

  <div class="flex flex-col gap-md">
    <p class="text-md">Hi, I'm Kolja Sam. I built this site because I enjoy ending my work day by watching lecture recordings, but I have found them hard to find.</p>
    <p class="text-md">Please feel free to browse, to submit lectures, or to contribute to the software on GitHub.</p>

  </div>
</div>
{% endblock %}
